@import '~@fluentui/react/dist/sass/References.scss';

.boscoHeroSection {
  display:flex;
  flex-direction: column;
  background-position: center;
  background-size: cover;
  aspect-ratio: 16/6.5;
  position: relative;
  align-items: center;
  color: white;
  z-index: 1;
}

.boscoHeroSectionOverlay{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.25;
  z-index: 2;
}

.boscoHeroSectionContentContainer{
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  width: 100%;
  height:100%;
  z-index: 3;
  padding: 35px;
  box-sizing: border-box;
  justify-content: space-between;
}

.boscoHeroSectionTitleAndUserRow{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.boscoHeroSectionTitleContainer{
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.boscoHeroSectionTitle{
  font-size: 42px;
  margin: 0px;
}

.boscoHeroSectionTitleUnderline{
  width: 100%;
  height: 2px;
  background-color: white;
}

.boscoHeroSectionUserAndDateContainer{
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 15px;
  background-color: #5a5a5a75;
  gap: 10px;
  border-radius: 6px;
}

.boscoHeroSectionDateContainer{
  display: flex;
  flex-direction: row;
}

.boscoHeroSectionDate{
  font-size: 16px;
}

.userWelcomeContainer{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  gap: 15px;
  
}

.userWelcomeText{
  font-size: 18px;
  font-weight: 500;
}

.userPhotoWithPhoto{
  display: flex;
  width: 35px;
  height: 35px;
  border-radius: 150px;
  background-position: center;
  background-size: cover;
}

.userPhotoInitialsContainer{
  display: flex;
  width: 35px;
  height: 35px;
  border-radius: 150px;
  justify-content: center;
  align-items: center;
  border: solid 1px white;
}

.userPhotoInitials{
  margin: 0px;
  font-size: 14px;
  font-weight: 600;
  color: white;
}

.boscoNewsContainerSkeleton{
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  gap: 15px;
  width: 100%;
  position: relative;
}

.boscoNewsSkeletonSpinnerContainer{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.boscoNewsContainer{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 15px;
}

.boscoNewsHeadingAndSeeAllContainer{
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.boscoNewsHeading{
  margin: 0px;
  font-weight: 400;
}

.boscoNewsSeeAllButton{
  display: flex;
  box-sizing: border-box;
  text-decoration: none;
  color: inherit;
}

.boscoNewsItemsContainer{
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  gap: 15px;
  width: 100%;
}

@media (max-width: 1846px) {
    .boscoNewsItemsContainer{
      grid-template-rows: repeat(3, 1fr);
    }
    .boscoNewsItemContainer:nth-of-type(4){
      display:none;
    }
}

@media (max-width: 1554px) {
    .boscoNewsItemsContainer{
      grid-template-rows: repeat(2, 1fr);
    }
    
    .boscoNewsItemContainer:nth-of-type(3){
      display:none;
    }
}

.boscoNewsItemContainer{
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  width: 100%;
  height: 100px;
  background-color: #5a5a5a75;
  text-decoration: none;
  color: inherit;
  border-radius: 6px;
  overflow: hidden;
  &:hover{
    h3{
      text-decoration: underline;
    }
  }
}

:global {
  .CanvasComponent.LCS .CanvasZone {
  
    max-width: 100% !important;
    
    }
    
    #workbenchPageContent {
    
    max-width: 100% !important;
    
    }
    
   }